block formHome
	form.form-signin(action='/', method='post')
		h2.form-signin-heading Comprar

		fieldset(data-role='controlgroup')
			label(for='gravata')
				input.input-block-level(id='gravata', type='text', name='gravata', placeholder=mytag, autocomplete='off')

		case alertType
			when 'info'
				div.alert.alert-info= message
			when 'warning'
				div.alert= message
			when 'error'  
				div.alert.alert-error= message
			default
				div.alert.alert-success= message

	p.fb-button
	
	div#login
	div#status

